
<div>
<h1>STATE CENTRAL LIBRARY</h1>
<h4> Jayanagar 3rd Block, South End Circle, </h4>
</h4>Opposite Vivek Showroom, Bengaluru, KA 560011</h4>
<p> Timings: Mon 10:30 am - 5:00 pm. Tue-Sun 8:30 am - 8:00 pm</p>
<p>Contact Number:  080 26548829</p>
<p>Mail id:   statecentral@gmail.com</p>
<<body style="background-color:powderblue;">>
</div>

